extends layout

block content
  h1= title
  - let items = results
  div.container-fluid
    div(class="row m-1")
      each item in items
          - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
          div.row-sm-2 Item #{item.cap_type}(#{item.cap_size}) is #{item.cap_cost}
          button.btn.btn-primary.ml-1(onclick=`dispatch("/cap/update?id=${item._id}")`) Update
  script.
    function dispatch(path){
      window.location.href = path;
    }
